.notificationElement {
    position: relative;
    width: 390px;
    padding: 8px ;
    border: 2px solid;
    border-radius: 5px;
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    margin-bottom: 10px;
    &:last-child {
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
    opacity: 0.5;
}

.head {
    font-size: 16px;
    color: #474747;
    text-align: left;
    padding-left: 4px;
    margin: 0;
}

.content {
    font-size: 14px;
    color: #474747;
    text-align: left;
    padding-left: 4px;
    margin: 0;
}

.success {
    border-color: #54947C;
    background-color: #b0d4c7;
}
.warning {
    border-color: #997C42;
    background-color: #f3dbab;
}

.error {
    border-color: #A0676E;
    background-color: #f7b8bf;
}

.info {
    border-color: #5B8496;
    background-color: #b1def1;
}

.leftArea {
    width: 30px;
    padding-top: 12px;
}