.container {
    width: 100%;
    background-color: #cccc87;
    border-radius: 50px;
    height: 10px;
  }

  .filler {
    height: 100%;
    background-color: #6a1b9a;
    border-radius: inherit;
  }